<div class="col-md-12 box">
    <br/>
    <div class="row">
        <div class="col-md-3">
            <img src="{{product.imageUrl}}">
        </div>
        <div class="col-md-7 info">
            <br/>
            <h5>
                {{product.name}}
                <p class="button">{{product.price | currency : "NGN":"#" }}</p>
            </h5>
            <hr/>
            <h5>In Stock : {{product.quantity }}</h5>
            <hr/>
            <h5>{{ product.seller.storeName }} </h5>
            <hr/>
            <h5>Contact : {{ product.seller.phoneNumber }} </h5>
            <br/>
            <button class="btn btn-dark col-sm-12">
                <h5>ADD TO CART</h5>
            </button>
            <hr/>
            <button class="btn btn-dark col-sm-12">
                <h5>PURCHASE</h5>
            </button>
        </div>
    </div>
    <br/>
</div>
