<div class="container-fluid col-md-12">
    <div class="row">
        <div class="col-md-3">
            <br>
            <img [src]="product.imageUrl" class="image">
        </div>
        <div class="box col-md-7">
            <br>
            <b> Store Name </b> : {{ product.sellerdetails.storename }} 
            <hr>
            <b> Store Contact </b> : {{ categoryProduct.sellerdetails.phonenumber }} 
            <hr>
            <b> Product Name </b> : {{ product.name }} 
            <hr>
            <b> Price </b> : NGN{{ product.price }} 
            <hr>
            <b> Quantity </b> : {{ product.quantity }} 
            <hr>
            <b> Store Location </b> : {{ product.sellerdetails.lga }},{{ product.sellerdetails.state }}  
            <br><br>
        </div>
        
    </div>
</div>
    