<div class="container-fluid mid">
    <div class="container re col-md-5"> 
        <br>
        <form [formGroup]="registerForm" (ngSubmit)="Register()">
            <h4> CREATE A BUYER ACCOUNT </h4>
            <p class="re"> Cheap Rates, Fast Delivery! </p>
            <hr>

            <div class="form-group col-md-12">
                <label for="title">Title</label>
                <select id="title" name="title" class="form-control" formControlName="title">
                  <option selected></option>
                  <option>Mr</option>
                  <option>Mrs</option>
                  <option>Ms</option>
                </select>
            </div>

            <div class="alert alert-danger" *ngIf="title.touched && title.errors?.required">
                <small>This field is required.</small>
            </div>
            
            <div class="form-group col-md-12">
                <label for="emailAddress">Email Address</label>
                <input type="email" class="form-control" name="emailAddress" id="emailAddress" formControlName="emailAddress">
            </div>

            <div class="alert alert-danger" *ngIf="emailAddress.touched && emailAddress.errors?.required">
                <small>This field is required.</small>
            </div>

            <div class="form-group col-md-12">
                <label for="phoneNumber">Phone number</label>
                <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber">
            </div>

            <div class="alert alert-danger" *ngIf="phoneNumber.touched && phoneNumber.errors?.required">
                <small>This field is required.</small>
            </div>

            <div class="form-group col-md-12">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName">
            </div>

            <div class="alert alert-danger" *ngIf="firstName.touched && firstName.errors?.required">
                <small>This field is required.</small>
            </div>

            <div class="form-group col-md-12">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" formControlName="lastName">
            </div>

            <div class="alert alert-danger" *ngIf="lastName.touched && lastName.errors?.required">
                <small>This field is required.</small>
            </div>

            <div class="form-group col-md-12">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" formControlName="password">
            </div>

            <div class="alert alert-danger" *ngIf="password.touched && password.errors?.required">
                <small>This field is required.</small>
            </div>

            <div class="form-group col-md-12">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" name="location" formControlName="location">
            </div>

            <div class="alert alert-danger" *ngIf="location.touched && location.errors?.required">
                <small>This field is required.</small>
            </div>

            <button type="submit" [disabled]="!registerForm.valid" class="btn btn-dark col-md-12" data-toggle="modal" data-target=".bd-example-modal-lg">
                <h6> Sign Up </h6>
            </button>

            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content center">
                        <br><br><br>
                        <h4>Make I quick tidy your registration.</h4>
                        <hr/>
                        <img src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Fae84325701f6d97ac4ad7e7951ac9063_w200.webp?alt=media&token=7eb12a30-3899-458a-8c5c-587c49e0b884">
                        <br><br><br>
                    </div>
                </div>
            </div>
            <a routerLink="/login">Already registered ? Log in here</a>
            <br><br><br><br><br><br><br><br>
        </form>
    </div>
</div>