.mid{
    background-color: white;
}

.re{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

h2, p, h4{
    text-align: center;
}

center{
    align-items: center;
    justify-content: center; 
}

img{
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}