<div class="container col-sm-12">
    <br>
    <div class="container-fluid col-md-12">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">S/N</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity Available</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sellerProduct of sellerProducts">
                <th scope="row">{{ sellerProduct.id }}</th>
                <td>{{ sellerProduct.name }}</td>
                <td>{{ sellerProduct.quantity }}</td>
                <td>{{ sellerProduct.price | currency:"NGN":"#"}}</td>
                <td>
                    <a routerLink="edit/product/{{  sellerProduct.id }}" > Edit </a> | 
                    <a routerLink="details/product/{{  sellerProduct.id }}" >Details</a> | 
                    <a (click)="Delete(sellerProduct.id)" >Delete</a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
