<div class="container col-md-12">
    <br>
    <div class="container col-md-12 add">
        <a href="/addproduct" class="btn btn-success btn-sm addbutton">Create Product</a>
    </div>
    <div class="container-fluid col-md-12">
        <div class="row">
            <div class="col-md-2 sidebar">
                <ul>
                    <li><a href="/addproduct">Create Product</a></li>
                    <hr>
                    <li><a href="/addproduct">Profile</a></li>
                    <hr>
                    <li><a href="/addproduct">Logout</a></li>
                </ul>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4" *ngFor="let sellerProduct of sellerProducts">
                        <div class="card text-center cardbox">
                            <div class="card-header">
                              {{ sellerProduct.name }}
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Quantity: {{ sellerProduct.quantity }}</h5>
                              <h5>Price: #{{ sellerProduct.price }}</h5>
                            </div>
                            <div class="card-footer">
                                <a href="product/{{sellerProduct.seller.storeName}}/{{sellerProduct.id}}" class="btn btn-light btn-sm">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
