<br><br>
<div class="container-fluid mid">
    <div class="container re col-md-5">
      <h2> Create A Product, Seller! </h2>
      <p> Sell on ECOMMERCE now! </p>
      <hr>
      <form [formGroup]="ProductForm" (ngSubmit)="PostProduct()">
  
        <div class="form-group col-md-12">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="Name">
        </div>

        <div class="form-group col-md-6" formGroupName="Category">
          <label for="title">Category</label>
          <select class="form-control form-control-sm" formControlName="Name">
            <option *ngFor="let category of Category" [value]="category.name" selected>{{ category.name }}</option>
          </select>
        </div> 

        <div class="form-group col-md-12">
            <label>Price</label>
            <input type="number" class="form-control" formControlName="Price">
        </div>       

        <div class="form-group col-md-12">
            <label>Quantity</label>
            <input type="number" class="form-control" formControlName="Quantity">
        </div>

        <div class="form-group col-md-12">

          <div class="form-group col-md-12">
            <img [src]='selectedFiles' (click)="fileuploader.click()" style="width: 200px;height: 200px;">
          </div>
          <input type="file" accept="image/*" class="btn btn-primary btn-sm" #fileuploader (change)="OnFileSelected($event)">
          <br> <br><button type="button" (click)="AddImage()" class="btn btn-primary btn-md">Upload</button>
          
        </div>
        <pre> Click on upload and wait for picture to be uploaded. </pre>
        <button type="submit" class="btn btn-success col-md-12">Create Product</button>
        </form>

        
        <br>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>