<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container col-md-11">
    <h3> 
      <a href="/">
        <span class="navbar-brand mb-0 h1"> 
          <span>
            <img src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Foja.png?alt=media&token=ccbf60e3-bdeb-4c31-8781-542226c181db">
          </span>
          Oja 
        </span> 
      </a>
    </h3>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span>
        <img src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Fdropdown.png?alt=media&token=399cd9d3-b528-4736-9874-4da543b73aec">
      </span> 
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="show">
          <span></span>
          <a href="/seller" class="btn btn-light nav-buttons"> 
            <span>
              <img class="brand" src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Fseller.png?alt=media&token=5e7e8342-cf5f-479f-9b8f-1f0662674dd9">
            </span>
            Sell on Oja
          </a>&nbsp; 
        </li>
        <li class="nav-item">
          <a class="btn btn-light nav-buttons" href="#">
            <span>
              <img class="brand" src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Fhelp.png?alt=media&token=b343901b-6cf6-4c67-9ef4-868e780ca258">
            </span>
            Help
          </a>&nbsp;
        </li>
        <li class="nav-item" *ngIf="!show">
          <span></span>
          <a href="/seller" class="btn btn-light nav-buttons"> 
            <span>
              <img class="brand" src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Fseller.png?alt=media&token=5e7e8342-cf5f-479f-9b8f-1f0662674dd9">
            </span>
            Logout
          </a>&nbsp; 
        </li>
        <li class="nav-item dropdown" *ngIf="show">
          <a class="btn btn-light nav-buttons dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>
              <img class="brand" src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Flogin.png?alt=media&token=be6ca1c2-183a-42cf-a671-18da674228fc">
            </span>
            Login
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="col-md-12">
              <a href="/login" class="btn btn-primary dropdown-item" type="button"> 
                Login 
              </a>
            </div>
            <div class="col-md-12">
              <div class="dropdown-divider"></div>
            </div>
            <div class="col-md-12">
              <a href="/register" class="btn btn-primary dropdown-item" type="button"> Sign Up </a>
            </div>
            <div class="col-md-12">
              <div class="dropdown-divider"></div>
            </div>
            <div class="col-md-12">
              <a class="btn btn-primary dropdown-item" type="button">Cart</a>
            </div>
          </div>
        </li>&nbsp;
      </ul>

      <form class="form-inline my- my-lg-0 col-md-8">
        <input type="search" class="form-control mr-sm-2 col-md-9" placeholder="Search products" aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
            Search
            <img class="search" src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Fsearch.png?alt=media&token=0ccf497e-cdf2-4d3f-a775-d9ebed66fbad">
          </button>
        </div>
      </form>
    </div>
  </div>
</nav>
