<div class="container-fluid">

    <app-sidebar></app-sidebar>

    <div>
        <br>
        <div class="row">
            <div class="col-sm-9">
                
                <br/><br/>
                <p>SIDEBAR</p>
                <p>SIDEBAR</p>
                <p>SIDEBAR</p>
                <p>SIDEBAR</p>
                <p>SIDEBAR</p>
                <p>SIDEBAR</p>
                <p>SIDEBAR</p>
                <p>SIDEBAR</p>
                <p>SIDEBAR</p>
                <p>SIDEBAR</p>
                <p>SIDEBAR</p>
                <p>SIDEBAR</p>
                <p>SIDEBAR</p>
                <p>SIDEBAR</p>
            </div>
        </div>
    </div>

</div>