<br>
<div class="box">
    <div class="container boxshadow" style="margin-bottom: 3px;">
        <div class="row">
            <div class="col-md-4">
                <br><br>
                <div class="rse">
                    <span>
                        <img class="brand" src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Felectronics.webp?alt=media&token=7e157cd1-230c-476e-91af-3a1dde945799">
                    </span>
                </div>
                <div class="card-body">
                    <hr>
                    <a routerLink="./Electronics"><b class="card-title text-center">Electronics</b></a>
                </div>
            </div>
            <div class="col-md-4">
                <br><br>
                <div class="rse">
                    <span>
                        <img class="brand" src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Ffashion.png?alt=media&token=9118e0fe-e7d8-4bd6-937f-d9fdbc5211f6">
                    </span>                
                </div>
                <div class="card-body">
                    <hr>
                    <a routerLink="./Fashion"><b class="card-title text-center">Fashion</b></a>
                </div>
            </div>
            
            <div class="col-md-4">
                <br><br>
                <div class="rse">
                    <span>
                        <img class="brand" src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Fphones.png?alt=media&token=646b4901-e633-4c71-8ef5-d4e3b719d2dc">
                    </span>
                </div>
                <div class="card-body">
                    <hr>
                    <a routerLink="./Phones"><b class="card-title text-center">Phones</b></a>
                </div>
            </div>

            <div class="col-md-4">
                <br><br>
                <div class="rse">   
                    <span>
                        <img class="brand" src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Fhome.webp?alt=media&token=9bb3dffe-695d-4496-b9f6-f0d9b58fce61">
                    </span>
                </div>
                <div class="card-body">
                    <hr>
                    <a routerLink="./Home & Office"><b class="card-title text-center">Home & Office</b></a>
                </div>
            </div>

            <div class="col-md-4">
                <br><br>
                <div class="rse">   
                    <span>
                        <img class="brand" src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Fcomputer.png?alt=media&token=0280780f-879c-44a7-bfae-c98b3164ec6d">
                    </span>
                </div>
                <div class="card-body">
                    <hr>
                    <a routerLink="./Computing"><b class="card-title text-center">Computing</b></a>
                </div>
            </div>

            <div class="col-md-4">
                <br><br>
                <div class="rse">   
                    <span>
                        <img class="special" src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2FAutomobile.webp?alt=media&token=4a892e66-53d4-4db6-8cb8-ab16994d9faa">
                    </span>
                </div>
                <div class="card-body">
                    <hr>
                    <a routerLink="./Automobile"><b class="card-title text-center">Automobile</b></a>
                </div>
            </div>

            <div class="col-md-4">
                <br><br>
                <div class="rse">   
                    <span>
                        <img class="brand" src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2FBaby.webp?alt=media&token=df465e4a-43a5-4996-902a-7d28518efa36">
                    </span>
                </div>
                <div class="card-body">
                    <hr>
                    <a routerLink="./Baby Products"><b class="card-title text-center">Baby Products</b></a>
                </div>
            </div>

            <div class="col-md-4">
                <br><br>
                <div class="rse">   
                    <span>
                        <img class="brand" src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2FGaming.webp?alt=media&token=6e56e1fa-c2da-43a5-91dc-e6e80e11a51f">
                    </span>
                </div>
                <div class="card-body">
                    <hr>
                    <a routerLink="./Gaming"><b class="card-title text-center">Gaming</b></a>
                </div>
            </div>

            <div class="col-md-4">
                <br><br>
                <div class="rse">   
                    <span>
                        <img class="brand" src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2FHealth.webp?alt=media&token=0da8e341-a835-45e6-a164-469c904d3b00">
                    </span>
                </div>
                <div class="card-body">
                    <hr>
                    <a routerLink="./Health"><b class="card-title text-center">Health</b></a>
                </div>
            </div>

            <div class="col-md-4">
                <br><br>
                <div class="rse">   
                    <span>
                        <img class="brand" src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2FSports.png?alt=media&token=b5dd3445-c5dd-4caf-b9d5-b9602df783bc">
                    </span>
                </div>
                <div class="card-body">
                    <hr>
                    <a routerLink="./Sports"><b class="card-title text-center">Sports</b></a>
                </div>
            </div>

        </div>
    </div>
</div>
