<br><br>
<div class="container-fluid mid">
    <div class="container re col-md-5">
      <br> 
      
      <form [formGroup]="LoginForm" (ngSubmit)="Login()">
        <h4> START BUYING </h4>
        <p> Enjoy shopping for affordable products with fast delivery! </p>
        <hr>
  
        <div class="form-group col-md-12">
          <label for="email">Email Address</label>
          <input type="email" class="form-control" id="email" formControlName="EmailAddress">
        </div>

        <div class="alert alert-danger" *ngIf="EmailAddress.touched && EmailAddress.errors?.required">
          <small>This field is required</small>
        </div>
  
        <div class="form-group col-md-12">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" formControlName="Password">
        </div>

        <div class="alert alert-danger" *ngIf="Password.touched && Password.errors?.required">
          <small>This field is required</small>
        </div>
      
        <button type="submit" [disabled]="!LoginForm.valid" class="btn btn-success col-md-12">Sign In</button>
        </form>
        <br>
        <a href="#"> Forgot Pasword? </a>
    </div>
   
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>