<div class="container-fluid">

    <app-sidebar></app-sidebar>


    <div class="container">
        <br>
        <div class="row row-special">
            <a class="col-sm-5 div-special" href="/sales/view">
                
                    <br/><br/>
                    <br/><br/>
                    <br/><br/>
                    <h2 style="float: right;font-weight: bold;">Sales</h2>
                    <br/><br/><br/>
            </a>

            <a class="col-sm-5 div-special" href="/products/view">
                
                <br/><br/>
                <br/><br/>
                <br/><br/>
                <h2 style="float: right;font-weight: bold;">Products</h2>
                <br/><br/><br/>
            </a>

            <a class="col-sm-10 div-special" href="/inventory/view">
                
                <br/><br/>
                <br/><br/>
                <br/><br/>
                <h2 style="float: right;font-weight: bold;">Inventory</h2>
                <br/><br/><br/>
            </a>
        </div>
    </div>

</div>