@media (max-width : 1100px){
    
}

a{
    color: white;
}

.div-special{
    margin: 10px;
    color: #A12AD4;
    background-color:white;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(224,20,224,1);
    -moz-box-shadow: 2px 2px 13px -4px rgba(224,20,224,1);
    box-shadow: 2px 2px 13px -4px rgba(224,20,224,1);
}

.div-special:hover{
    background-color: #F1DEF9;
}

.row-special{
    display: flex;
    justify-content: center;
}

.center{
    width: 100%;
    display: flex;
    font-size: larger;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}