<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" *ngFor="let product of products">
            <img src="{{product.imageUrl}}" class="image">
            <hr>
            <h6>{{ product.category.name }}</h6>
            <h6>Price : NGN{{ product.price }}</h6>
            <h6>Product Name : {{ product.name }}</h6>
            <h6> Quantity : {{ product.quantity }}</h6>
            <hr>
            <a class="btn btn-info btn-sm" (click)="Update(product.id)">Update</a> &nbsp;&nbsp;&nbsp;
            <a class="btn btn-danger btn-sm" (click)="Delete(product.id)">Delete</a>
            <hr>
        </div>
    </div>
</div>
<br>