<div class="container-fluid col-sm-12">
    <div class="row">
        <div *ngFor="let categoryProduct of categoryProducts" class="box col-md-3">
            <br>
            <img [src]="categoryProduct.imageUrl" class="image">
            <hr>
            <b> Store Name </b> : {{ categoryProduct.sellerdetails.storename }} 
            <hr>
            <b> Store Contact </b> : {{ categoryProduct.sellerdetails.phonenumber }} 
            <hr>
            <b> Product Name </b> : {{ categoryProduct.name }} 
            <hr>
            <b> Price </b> : NGN{{ categoryProduct.price }} 
            <hr>
            <b> Quantity </b> : {{ categoryProduct.quantity }} 
            <hr>
            <b> Store Location </b> : {{ categoryProduct.sellerdetails.lga }}, 
            {{ categoryProduct.sellerdetails.state }}
            <br><br>
        </div>
    </div>
</div>
