<div class="body">
    <div class="container-fluid boxshadow" style="padding-bottom: 5px;">
        <h1> <b>Sell on ECommerce</b> </h1>
    </div>
    
    <br>
    
    <div class="container boxshadow" style="margin-bottom: 3px;">
        <br>
        <div class="media">
            <img src="https://www-konga-com-res.cloudinary.com/image/upload/w_auto,f_auto,fl_lossy,dpr_auto,q_auto/assets/images/content/sell-on-konga.png" class="mr-3" alt="...">
            <div class="media-body">
                <h1 class="mt-0"> <b>Grow your business online</b></h1><br>
                <h6> Reach millions of buyers in every state in Nigeria easily, get your store on Konga today! </h6><br>
                <a routerLink="/registration" class="btn btn-outline-success"> Register now!</a>
            </div>
        </div>
    </div>

    <br>

    <div class="container boxshadow" style="margin-bottom: 3px;">
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="rse">
                    <img src="https://www-konga-com-res.cloudinary.com/image/upload/w_auto,f_auto,fl_lossy,dpr_auto,q_auto/assets/images/content/megaphone.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <b class="card-title">Earn More Money</b>
                  <p class="card-text card-text-cen">Konga is one of the largest websites in Nigeria. Sell to over 50 million buyers across every state in Nigeria</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rse">
                    <img src="https://www-konga-com-res.cloudinary.com/image/upload/w_auto,f_auto,fl_lossy,dpr_auto,q_auto/assets/images/content/online-payment.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <b class="card-title">Communication is Easy</b>
                    <p class="card-text card-text-cen">We make it easy to exchange messages with buyers who may have questions.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rse">
                    <img src="https://www-konga-com-res.cloudinary.com/image/upload/w_auto,f_auto,fl_lossy,dpr_auto,q_auto/assets/images/content/calculator.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <b class="card-title">Low Commissions</b>
                    <p class="card-text card-text-cen">Commission fees are as low as 3%, and you only pay when you successfully sell your product.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rse">
                    <img src="https://www-konga-com-res.cloudinary.com/image/upload/w_auto,f_auto,fl_lossy,dpr_auto,q_auto/assets/images/content/question.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <b class="card-title">You Have Our Support 24/7</b>
                  <p class="card-text card-text-cen">Konga provides various tools to increase your success including: our online SellerHQ and our dedicated merchant support teams.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rse">
                    <img src="https://www-konga-com-res.cloudinary.com/image/upload/w_auto,f_auto,fl_lossy,dpr_auto,q_auto/assets/images/content/online-shop.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <b class="card-title">We Make Sure It’s Safe</b>
                    <p class="card-text card-text-cen">Konga is the safest and most trusted platform to buy and sell online in Nigeria. We’ve built a community that takes safety & security seriously for both buyers and sellers.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rse">
                    <img src="https://www-konga-com-res.cloudinary.com/image/upload/w_auto,f_auto,fl_lossy,dpr_auto,q_auto/assets/images/content/safe.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <b class="card-title">You’re in Control</b>
                    <p class="card-text card-text-cen">You choose the price for your return policy, your delivery method on paid orders, and other important options.</p>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container boxshadow" style="margin-bottom: 3px;">
        <br>
        <div class="media">
            <div class="media-body">
              <h1 class="mt-0"> <b>Earn Money, Hassle Free</b></h1><br>
              <a routerLink="/registration" class="btn btn-outline-success"> Register now!</a>
            </div>
            <img src="https://www-konga-com-res.cloudinary.com/image/upload/w_auto,f_auto,fl_lossy,dpr_auto,q_auto/assets/images/content/electronics.png" class="mr-3" alt="...">
        </div>
    </div>
    <br>
</div>