<div class="container-fluid mid">
  <div class="container re col-md-5">
    <br>
    <div class="form-row re col-md-8">
      <a routerLink="/seller-reg" class="btn btn-light col-md-6">Sign Up</a>
      <a routerLink="/seller-login" class="btn btn-light col-md-6">Sign In</a>
    </div>  
    <br>  
    <form #REGSELLER="ngForm" (ngSubmit)="Submit(REGSELLER)">
      <h2> CREATE A SELLER ACCOUNT </h2>
      <p class="re"> Start selling on ECOMMERCE today! </p>
      <hr>
      <div class="form-group col-md-12">
        <label for="storename">Store Name</label>
        <input type="text" class="form-control" name="storename" id="storename" ngModel>
      </div>

      <div class="form-group col-md-12">
        <label for="storeurl">Store Url</label>
        <input type="text" class="form-control" name="storeurl" id="storeurl" ngModel>
      </div>

      <div class="form-group col-md-12">
        <label for="description">Description</label>
        <input type="text" class="form-control" name="description" id="description" ngModel>
      </div>

      <div class="form-group col-md-12">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" name="emailaddress" id="email" ngModel>
      </div>

      <div class="form-group col-md-12">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" ngModel>
      </div>
      
      <h4> Personal Details </h4>
      <br>
      <div class="form-row">

        <div class="form-group col-md-6">
          <label for="title">Title</label>
          <select id="title" name="title" class="form-control" ngModel>
            <option selected>Select</option>
            <option>Mr</option>
            <option>Mrs</option>
            <option>Ms</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="firstname">First Name</label>
          <input type="text" class="form-control" name="firstname" id="firstname" ngModel>
        </div>
        
      </div>

      <div class="form-group col-md-12">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" name="lastname" id="lastname" ngModel>
      </div>

      <div class="form-group col-md-12">
        <label for="phonenumber">Phone Number</label>
        <input type="number" class="form-control" name="phonenumber" id="phonenumber" ngModel>
      </div>

      <div class="form-group col-md-12">
        <label for="street">Street</label>
        <input type="text" class="form-control" name="street" id="street" ngModel>
      </div>

      <div class="form-row">

        <div class="form-group col-md-6">
          <label for="state">State</label>
          <select id="state" name="state" class="form-control" ngModel>
            <option>Lagos</option>
            <option>Oyo</option>
            <option>Ondo</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="lga">LGA</label>
          <select id="lga" name="lga" class="form-control" ngModel>
            <option>Lagos</option>
            <option>Oyo</option>
            <option>Ondo</option>
          </select>
        </div>
        
      </div>

      <div class="form-group col-md-12">
        <label for="city">City</label>
        <input type="text" name="city" class="form-control" id="city" ngModel>
      </div>
    
      <button type="submit" class="btn btn-success col-md-12">Sign Up</button>
      </form>
      <br>
  </div>
  <br>
</div>