.box{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(247,193,247,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(247,193,247,1);
    box-shadow: 0px 0px 5px 0px rgba(247,193,247,1);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 30px;
    background-color: white;
}

.ht{
    height: 380px;
}

.image{
    border-radius: 70%;
    width: 100px;
    height: 100px;
}

.boxshadow{
    background-color: white;
}

.body{
    background-color: whitesmoke;
}

.rse{
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-text-cen{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-title{
    display: block;
    margin-left: auto;
    margin-right: auto;
}