<div class="container">
    <br/>
    <div class="row">
        <div class="col-sm-2">
            <p> From Heaven you can hear.</p>
        </div>
        <div class="col-sm-8">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active ht">
                    <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Fheadphones.jpg?alt=media&token=f6574961-1f22-44fc-8041-8452b5343d51" alt="First slide">
                  </div>
                  <div class="carousel-item ht">
                    <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Fapple%20laptop.webp?alt=media&token=4e10e44f-d3ae-453f-9231-c8fc878f5f4f" alt="Second slide">
                  </div>
                  <div class="carousel-item ht">
                    <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Fshopping.webp?alt=media&token=20929dec-c427-4ca5-8854-c8a57b996b44" alt="Third slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
        <div class="col-sm-2">
            <p> From Heaven you can hear.</p>
        </div>
    </div>
</div>
