.box{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(247,193,247,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(247,193,247,1);
    box-shadow: 0px 0px 5px 0px rgba(247,193,247,1);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
}

.sidebar{
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 1;
}

.ht{
    height: 350px;
}

@media (max-width : 1100px){
    .disappear{display: none;}

    .ht{
        height: 250px;
    }
}

.brand{
    width: 20px;
    height: 20px;
}

.categorybox{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(247,193,247,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(247,193,247,1);
    box-shadow: 0px 0px 5px 0px rgba(247,193,247,1);
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.rse{
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image{
    width: 250px;
    height: 250px;
    margin-bottom: 13px;
    margin-top: 13px;
}

@media (max-width : 767px){
    .carousel{
        margin: 10px;
    }
}

.boxshadow{
    background-color: white;
}

.body{
    background-color: whitesmoke;
}

.card-text-cen{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-title{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a{
    color: black;
}

a.special{
    color:blue;
}