<div class="box container-fluid col-md-11">
    <br>
    <h2> <b>Sell on Ọja</b> </h2>
    <br>
    <p> Here at Oja, We enable small scale business owners advertise their goods at no cost!</p>
    <hr>
    <h6> See what you want like? Click on details to get the retailer's details</h6>
    <br>
</div>

<div class="box container-fluid col-md-11">
    <br>
    <div class="container boxshadow" style="margin-bottom: 3px;">
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="rse">
                    <img src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Fmegaphone.png_1596897142003?alt=media&token=d8d9ebb3-e0fb-4093-a4f1-32ec919bfb19" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <hr>
                  <b class="card-title text-center">Earn More Money, Increase your marketing audience</b>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rse">
                    <img src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Fonline-payment.png_1596897131569?alt=media&token=248794a7-eb42-4100-8a4a-477961e49ed0" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <hr>
                    <b class="card-title text-center">No Commissions</b>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="rse">
                    <img src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Fsafe.png_1596897121957?alt=media&token=3a82af99-a04d-4aac-9c32-6a4169e05d0c" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <hr>
                    <b class="card-title text-center">We Make Sure It’s Safe</b>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<div class="box container-fluid col-md-11">
    <br>
    <h4> Men's Fashion </h4>
    <hr>
    <div class="row">
        <div class="col-md-3" *ngFor="let product of menProducts">
            <img src="{{product.imageUrl}}" class="image">
            <hr>
            <h6>{{ product.category.name }}</h6>
            <h6>Price : #{{ product.price }}</h6>
            <hr>
            <button class="btn btn-info btn-sm" (click)="Details(product.id)">Details</button>
            <hr>
        </div>
    </div>
</div>

<div class="box container-fluid col-md-11">
    <br>
    <h4> Women's Fashion </h4>
    <hr>
    <div class="row">
        <div class="col-md-3" *ngFor="let product of womenProducts">
            <img src="{{product.imageUrl}}" class="image">
            <hr>
            <h6>{{ product.category.name }}</h6>
            <h6>Price : #{{ product.price }}</h6>
            <hr>
            <button class="btn btn-info btn-sm" (click)="Details(product.id)">Details</button>
            <hr>
        </div>
    </div>
</div>


<div class="box container-fluid col-md-11">
    <br>
    <h4> IT </h4>
    <hr>
    <div class="row">
        <div class="col-md-3" *ngFor="let product of itProducts">
            <img src="{{product.imageUrl}}" class="image">
            <hr>
            <h6>{{ product.category.name }}</h6>
            <h6>Price : #{{ product.price }}</h6>
            <hr>
            <button class="btn btn-info btn-sm" (click)="Details(product.id)">Details</button>
            <hr>
        </div>
    </div>
</div>


<br>