<div class="split left">
    <u>ARIYO</u>
</div>
<div class="split right">
    <form [formGroup]="loginForm" (ngSubmit)="Login()" class="col-sm-12">
        <br/>
        <h2 style="text-align: center;"> SIGN IN </h2>
        <hr/>
        
        <div class="col-sm-12">
            <div class="form-group">
                <input type="text" name="Name" placeholder="Name" formControlName="Name" class="col-md-12 form-control">
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <input type="password" name="Password" placeholder="Password" formControlName="Password" class="col-md-12 form-control">
            </div>
        </div>

        <div class="col-sm-12">
            <div class="alert alert-danger" *ngIf="Name.touched && Name.errors?.required">
                <small>Name is required.</small>
            </div>
        </div> 

        <div class="col-sm-12">
            <div class="alert alert-danger" *ngIf="Password.touched && Password.errors?.required">
                <small>Password is required.</small>
            </div>
        </div> 

        <div class="col-sm-12">
            <button class="col-sm-12" [disabled]="!loginForm.valid" >
                SIGN IN
            </button>
        </div>
         
        <br/>
        <br/>
    </form>
</div>
