<br><br>
<div class="container-fluid mid">
    <div class="container re col-md-5">

      
      <div class="form-row re col-md-8">
        <a routerLink="/registration" class="btn btn-light col-md-6">Sign Up</a>
        <a routerLink="/login" class="btn btn-light col-md-6">Sign In</a>
      </div> 
        
      <br> 
      
      <form [formGroup]="LoginForm" (ngSubmit)="Login()">
        <h2> LOGIN INTO SELLER ACCOUNT </h2>
        <p> Start selling on ECOMMERCE today! </p>
        <hr>
  
        <div class="form-group col-md-12">
          <label for="email">Email Address</label>
          <input type="email" class="form-control" id="email" formControlName="EmailAddress">
        </div>
  
        <div class="form-group col-md-12">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" formControlName="Password">
        </div>
      
        <button type="submit" class="btn btn-success col-md-12">Sign In</button>
        </form>
        <br>
        <a href="#"> Forgot Pasword? </a>
        <hr>
        <a href="#"> New Seller? Create your Store.</a>
    </div>
   
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>