<div class="box container-fluid col-md-11">
    <br>
    <h2> <b>Sell on Ọja</b> </h2>
    <br>
    <p> Here at Oja, You get a platform to market your goods at no cost!</p>
    <hr>
    <h6> Start up by creating an account <a href='/sell/register'>here.</a> If you have an account already, sign in <a href='/sell/login'>here.</a> </h6>
    <br>
</div>

<div class="box container-fluid col-md-11">
    <br>
    <div class="container boxshadow" style="margin-bottom: 3px;">
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="rse">
                    <img src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Faudience.png?alt=media&token=ca7b556a-4457-4e23-82a8-4bf53a06455b" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <hr>
                  <b class="card-title text-center">Increase your marketing audience</b>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rse">
                    <img src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Fcommissions.png?alt=media&token=ca7b556a-4457-4e23-82a8-4bf53a06455b" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <hr>
                    <b class="card-title text-center">No Commissions</b>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="rse">
                    <img src="https://firebasestorage.googleapis.com/v0/b/storeimagegallery.appspot.com/o/images%2Fsafe.png?alt=media&token=ca7b556a-4457-4e23-82a8-4bf53a06455b" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <hr>
                    <b class="card-title text-center">Safe and Secure</b>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
