<div class="container-fluid">

    <app-sidebar></app-sidebar>
 
     <div>
         <br>
         <div class="row">
             <div class="container">
                 <br/><br/>
                 <div class="center">
                    <div class="form-group">
                        <select name="Location" placeholder="Location" class="col-sm-12 form-control" (change)="fetch($event.target.value)">
                            <option selected> Select City/Location... </option>
                            <option *ngFor="let location of locations" value="{{ location.locationName }}"> {{ location.locationName }} </option>
                        </select>
                    </div>
                 </div>
                 <br/><br/>
                 <div class="center" *ngIf="checkTrue">
                     <h2> INVENTORIES COUNT : {{ inventoryCount }}</h2>
                 </div>
                 <br/><br/>
                 <div>
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Saved On</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let inventoryTab of inventoryTable">
                            <th scope="row">{{inventoryTab.name}}</th>
                            <td>{{ inventoryTab.quantity }}</td>
                            <td>{{ inventoryTab.date_Saved | date }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
             </div>
         </div>
     </div>
 
</div>
